<% content_for :style do %>
<style>
div {
    border: 1px solid;
}
.base_project {
    float: left;
    height: 100%;
    display: table;
}
.base_project .name {
    clear: both;
    display: table-cell;
}
.base_project .data_container {
}
.base_project .data {
}

.target_project {
    float: left;
    height: 100%;
    display: table;
}
.target_project .name {
    clear: both;
    display: table-cell;
}
.target_project .data {
}
</style>
<% end %>

<% content_for :script do %>
<script type="text/javascript">
// global variables
var BASE_PROJECT;
var METRICS = JSON.parse('<%= j JSON.dump(@metrics.map {|metric| metric.id}) %>');

function ajax_request(method, path, callback, data)
{
    var http;
    if (window.XMLHttpRequest) {
        // code for IE7+, Firefox, Chrome, Opera, Safari
        http = new XMLHttpRequest();
    } else {
        // code for IE6, IE5
        http = new ActiveXObject("Microsoft.XMLHTTP");
    }
    http.onreadystatechange = function()
    {
        callback(http);
    }
    http.open(method, path, true);
    if (method == "POST") {
        http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        http.setRequestHeader("Content-length", data.length);
        http.send(data);
    } else {
        http.send()
    }
}

function load_project(project_id, version)
{
    callback = function(http)
    {
        if (http.readyState==4 && http.status==200) {
            // parse json data
            var jsonObj = JSON.parse(http.responseText);
            // project name
            var projectNameXPath = "//*[@id='project" + project_id + "']//*[@id='name']";
            document.evaluate(projectNameXPath,
                            document, null, 9, null).singleNodeValue.innerHTML = jsonObj['name'];
            // project measurement data
            /*for (var metric in metrics) {
                var value = jsonObj.data[metric];
                var dataContainer = document.evaluate("xpath=//*[@id='" + project_id + "']//*[@id='data_container']",
                                                    document, null, 9, null).singleNodeValue;
            }*/
        }
    }
    ajax_request('POST',
                '../get_project',
                callback,
                "project_id=" + project_id + "&version=" + version + "&metrics=" + METRICS.join(','));
}

function load_all_projects()
{
    // load base project
    load_project(<%= j @base_project[:id] %>, '<%= j @base_project[:versions][0] %>');
    // load target projects
    var projects = JSON.parse('<%= JSON.dump(@target_projects.map {|project| [project[:id], project[:versions][0]]}) %>');
    for (var i = 0; i < projects.length; ++i) {
        var id = projects[i][0];
        var version = projects[i][1];
        load_project(id, version);
    }
}

window.onload = load_all_projects;
</script>
<% end %>

<div id="project<%= @base_project[:id] %>" class="base_project">
    <div id="name" class="name">
    </div>
    <div id="data_container" class="data_container">
    </div>
</div>
<% @target_projects.each do |project| %>
<div id="project<%= project[:id] %>" class="target_project">
    <div id="name" class="name">
    </div>
    <div id="data_container" class="data_container">
    </div>
</div>
<% end %>
